.areafc-spinner {
    width: 250px;
    height: 250px;
    margin: 15vh auto;
    background-color: transparent;
    
    background-image: url('../img/logo-w.png');
    background-size: contain;
    background-position: center;
    opacity: 0.5;

    -webkit-animation: sk-throbe 3.0s infinite ease-in-out;
    animation: sk-throbe 3.0s infinite ease-in-out;
}

@-webkit-keyframes sk-throbe {
  0% { 
    opacity: 0.3;
  }
    
  50% {
    opacity: 0.1;
  } 
    
  100% {
    opacity: 0.3;
  }
}

@keyframes sk-throbe {
  0% { 
    opacity: 0.3;
  }
    
  50% {
    opacity: 0.1;
  } 
    
  100% {
    opacity: 0.3;
  }
}


/* ---------------------------------------------------------------- */


.spinner {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 15vh auto;
  background-color: #333;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}


/* ---------------------------------------------------------------- */

.spinner2 {
  position: relative;
  margin: 15vh auto;
  width: 70px;
  text-align: center;
}

.spinner2 > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner2 .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner2 .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}