/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1040px;
}

/*********************
NAVIGATION STYLES
*********************/

.nav {
    
    ul {
        position: relative;
        display: block;
        height: inherit;
        width: auto;
        border-bottom: 0;
        margin: 0;
        text-align: right;
        white-space: nowrap;


        
        li.collapse {
            display: inline-block;
        }
        
        li.season-menu-btn {
            button {
                .collapse {
                    display: inline!important;
                }
            }
        }
        
    } /* end .nav ul */
        
} /* end .nav */

.nav.collapse {
    display: block;
}



.season-menu {
    
    > .header {
        height: 100px;
        
        .title {
            display: inline-block;
            width: auto;
            margin: 20px 0 0 150px;
            font-size: 2.3em;
        }
    }
}


.content-body {
    
    .inner-wrap {
        .wp-body {
            padding: 0 30px 0 0;
            
            
            .lightbox {
                width: 100%;
                height: 400px;
                
                .img {
                    width: 100%;
                    height: 400px;
                }
            }
        }
        
        
        .wp-header {
            
            .wp-title {
                
            }
            
            .search-widget {
            }
        }
    }
    
    .banner {
        width: 100%;
        //height: 600px;
        background-size: cover;
    }
    
    .banner.episode-banner {
        height: 300px;
        background-size: cover;
    }
    
    #video-widget {
        
        h3 {
            
        }

        ul.video-grid {
            margin-top: 0px;
            margin-bottom: 0px;

            li {
                margin-bottom: 0px;
                
                &:first-child {
                    margin-left: 0px;
                    
                }
                
                a {
                border-bottom: solid 5px #800;
                }
                
            }
        }
    }
    
    .index-wrap {
        
    }
    
    ul.profile-index {

                li {
                    
                    a {
                        padding: 0 0 0 30px;

                        &:hover,
                        &:focus {
                            color: $gray;
                        }

                        &:link {}
                        
                        > span {
                            
                        }
                        
                        i.thumb {
                            img {
                                
                            }
                        }
                    }
                }
        

                /* highlight current page */
                a.current-menu-item,
                a.current_page_item,
                a.active,
                a.current_page_ancestor {
                        color: $super-white;
                        background-color: $dark-gray;
                        
                        i.thumb {
                            opacity: 1;
                        }
                }  /* end current highlighters */
    }
    
    
}



#panels {
    /*
    display: block;
    position: absolute;
    bottom: 0px;
    */
}

/**********************
SIDE MENU ACTIVATION
***********************/

button.c-menu__open {
    display: none;
}

.side-nav-container, 
.side-nav-container.is-active {
    transform: translateX(280px);
}
.site-container.side-nav-active {
    transform: translateX(0);
}
