/******************************************************************
Site Name:
Author:

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/

/*
IMPORTANT NOTE ABOUT SASS 3.3 & UP
You can't use @extend within media queries
anymore, so just be aware that if you drop
them in here, they won't work.
*/


/*********************
NAVIGATION STYLES
*********************/

/* .nav is clearfixed inside mixins.scss */
.nav {
    
    
    ul {


        li {
            
            a {

                /*
                remember this is for mobile ONLY, so there's no need
                to even declare hover styles here, you can do it in
                the style.scss file where it's relevant. We want to
                keep this file as small as possible!
                */
                &:hover, &:focus {
                }
                
                i {
                }
            }

            &:first-child {
            }

            &:last-child {}

            /*
            so you really have to rethink your dropdowns for mobile.
            you don't want to have it expand too much because the
            screen is so small. How you manage your menu should
            depend on the project. Here's some great info on it:
            http://www.alistapart.com/articles/organizing-mobile/
            */
            ul.sub-menu,
            ul.children {

                li {

                    a {

                        &:hover,
                        &:focus {}

                        &:link {}

                    }

                    &:first-child {}

                    &:last-child {}

                }

            }

        } /* end .menu li */

        /* highlight current page */
        li.current-menu-item,
        li.current_page_item,
        li.current_page_ancestor {

            a {}

        }  /* end current highlighters */            
        

    }
} /* end .nav */

.header {

    .logo-wrap {
        width: 220px;
        height: 70px;
        margin-left: 30px;
    }
}

.content-body {
    
    .inner-wrap {
        padding: 0 20px;
        .wp-body {
            
            
        }
    }
    
}

/*********************
FOOTER STYLES
*********************/

/*
check your menus here. do they look good?
do they need tweaking?
*/
.footer-links {
	ul {
		li {}
	}
} /* end .footer-links */

