/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: $lato;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
    
	background-color: $ink;
    background-image: url('../img/bg01.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
    
    .has-active-menu {
      overflow: hidden;
    }
}

.app {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    
    margin: 0 0;
    padding: 0 0;
}

.site-container {
    display: block;
    position: absolute;
    min-width: 100%;
    max-width: 100%;
    min-height: 100vh;
    height: auto;
    transition: transform 0.3s;
    
    margin: 0 0;
    padding: 0 0;
}

.logo {
    position: relative;
    display: inline-block;
    width: inherit;
    height: inherit;
    background-image: url('../img/logo-3w.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
}

.pagination {
    margin-bottom: 50px;
    
    .btn {
        margin-right: 20px;
    }
}

.content-body {
    position: relative;
    display: block;
    margin: 50px auto 50px auto;
    padding-top: 10px;
    padding-bottom: 20px;
    min-height: 68vh;
    
    float: none;
    transition: transform 0.3s;
    
    .inner-wrap {
        position: relative;
        display: block;
        width: 100%;
        margin: 20px auto 0px auto;
        padding: 0px 10px;
        float: none;
        .wp-title {
            display: block;
            position: relative;
            color: $gray;
            text-transform: uppercase;
            font-size: 1.5em;
            margin: 0 0;
        }

        .wp-body {
            position: relative;
            display: block;
            padding: 0 0;
            //min-height: 600px;

            color: $meta-gray;
            font-size: 0.9em;
            line-height: 1.5em;
            
        
            .video-container {
                position: relative;
                padding-bottom: 56.25%;
                padding-top: 30px; 
                height: 0;
                overflow: hidden;
                

                iframe, object, embed {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                } 
            }
            
            .lightbox {
                position: relative;
                display: block;
                width: 100%;
                height: 250px;
                
                .img {
                    display: block;
                    position: relative;
                    background-size: cover;
                    background-position: center center;
                    width: 100%;
                    height: 250px;
                }
            }
        }

        .wp-header {
            display: block;
            position: relative;
            border-bottom: solid 1px $dark-gray;
            
            .wp-title {
                display: inline-block;
            }
            
            .search-widget {
                position: relative;
                display: inline-block;
            
                .search-box {
                    position: relative;
                    display: inline-block;
                    background: $super-white;
                    border-radius: 6px 1px 1px 6px;
                    float: none;
                    margin: 0 0;
                    padding: 0px 12px;
                    width: 70%;
                    height: 30px;
                    border: solid 2px forestgreen;
                }
                
                .search-btn {
                    position: relative;
                    display: inline-block;
                    background: forestgreen;
                    color: $super-white;
                    border-radius: 0px 6px 6px 0px ;
                    float: none;
                    margin: 0 0;
                    padding: 0px 12px;
                    top: 2px;
                    width: 30%;
                    height: 30px;
                    border: 0;
                    outline: 0;
                    line-height: 1em;
                }
            }
        }
        
    }
    
    .banner {
        display: block;
        position: relative;
        width: 100%;
        min-height: 200px;
        margin: 0 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        
        img {
            width: 100%;
            height: auto;
            margin: 0 auto;
            padding: 0 0;
            border: 0;
            outline: 0;
        }
    }
    
    #video-widget {
        display: block;
        position: relative;
        margin: 0 0;
        padding: 0 0;
        
        h3 {
            color: $white;
            padding: 10px 10px;
            margin: 0px 0px;
            background-color: #811;
            text-transform: uppercase;
            font-size: 0.9em;
        }

        ul.video-grid {
            display: block;
            position: relative;
            margin-top: 0px;
            margin-bottom: 0px;
            //margin-right: -15px;
            border: 0;
            position: relative;
            height: 100%;
            width: 100%;
            padding: 0 0;
            background-color: #151515;

            top: 0px;
            z-index: 99;

            li {
                position: relative;
                display: inline-block;
                float: none;
                text-align: left;
                height: 200px;
                margin: 0 0;
                padding: 15px;
                margin-left: 0px;
                margin-bottom: 20px;

                a {
                    position: relative;
                    display: block;
                    font-size: 12px;
                    color: $meta-gray;
                    text-decoration: none;
                    text-transform: uppercase;
                    line-height: 50px;

                    border: 0;
                    border-bottom: solid 1px #800;
                    display: block;
                    width: 100%;
                    height: 100%;
                    white-space: nowrap;
                    padding: 0 0 0 0px;


                    > span {
                        position: relative;
                        display: inline-block;
                        width: 70%;

                        white-space:normal;
                        word-break: break-all;
                        overflow-wrap: break-word;
                        line-height: 1.2em;
                    }
                    
                    .youtube-play {
                        display: block;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        height: 100%;
                        width: 100%;
                        z-index: 200;
                        background-color: rgba(0,0,0,0.6);
                        text-align: center;
                    
                        @include transition(all 0.6s);
                        
                        i {
                            font-size: 2em;
                            color: #ddd;
                            margin-top: 16%;
                            &:before {
                                display: inline-block;
                                padding: 20px 20px;
                                border-radius: 50%;
                                background-color: rgba(100,0,0,0.8);
                            }
                        }
                    }

                    i.thumb {
                        position: relative;
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        float: right;
                        opacity: 1;
                        img {
                            display: inline-block;
                            width: 100%;
                        }
                    }
                    
                    span.video-title {
                        position: absolute;
                        display: block;
                        bottom: 0px;
                        left: 0px;
                        width: 100%;
                        text-transform: none;
                        z-index: 300;
                        padding: 10px 10px;
                        text-align: center;
                        font-size: 1.1em;
                        color: $meta-gray;
                    }
                    

                    &:link {}
                    
                    &:hover,
                    &:focus {
                        color: $gray;
                        
                        .youtube-play {
                            background-color: rgba(0,0,0,0.2);
                        
                            i {
                                &:before {
                                    background-color: rgba(150,0,0,0.6);
                                }
                            }
                        }
                        
                    
                        span.video-title {
                            color: $white;
                        }
                    }
                }
            }


            /* highlight current page */
            a.current-menu-item,
            a.current_page_item,
            a.active,
            a.current_page_ancestor {
                    color: $super-white;
                    background-color: $dark-gray;

                    i.thumb {
                        opacity: 1;
                    }
            }  /* end current highlighters */
        }

    }

    .close-search-btn {
        position: relative;
        display: inline-block;
        background: $wine;
        color: $super-white;
        border-radius: 3px 3px;
        float: none;
        margin: 0 0;
        margin-left: 10px;
        padding: 5px 10px;
        border: 0;
        outline: 0;
    }
    
    .search-busy {
        position: relative;
        display: block;
        width: 100%;
        margin: 0 auto;
        max-height: 60px;
        
        .spinner, 
        .spinner2 {
            margin: 30px auto;
        }
    }
    
    .page-num-badge {
        display: inline-block;
        position: relative;
        padding: 5px 20px;
        margin-left: 10px;
        top: -4px;
        width: auto;
        border: 0;
        border-radius: 5px;
        color: $super-white;
        background-color: rgba(100,100,100,1);
        text-align: left;
        font-size: 11px;
        
    }
    
    .index-wrap {
        display: block;
        position: relative;
        border: 0;
        border-top: 0;
        border-left: solid 2px #e42525;
        margin-top: -100px;
        width: 100%;
        overflow: hidden;
        height: 70vh;
        float: right;
        
    }
    
    ul.profile-index {
        display: block;
        position: relative;
        margin-top: 0px;
        //margin-right: -15px;
        border: 0;
        position: relative;
        height: 100%;
        width: 100%;
        padding: 0 0;
        //padding-right: 5px;
        overflow-y: scroll;

        background-color: $black;

        top: 0px;
        z-index: 99;

        li {
            position: relative;
            display: block;
            float: none;
            text-align: left;
            border-bottom: solid 1px $dark-gray;
            height: 75px;
            width: auto;
            margin: 0 0;
            padding: 0 0;

            a {
                font-size: 12px;
                color: $meta-gray;
                text-decoration: none;
                text-transform: uppercase;
                height: inherit;
                line-height: 50px;

                border: 0;
                display: block;
                width: auto;
                white-space: nowrap;
                padding: 0 0 0 10px;

                &:hover,
                &:focus {
                    color: $gray;
                }

                &:link {}

                > span {
                    position: relative;
                    display: inline-block;
                    width: 70%;

                    white-space:normal;
                    word-break: break-all;
                    overflow-wrap: break-word;
                    line-height: 1.2em;
                }

                i.thumb {
                    position: relative;
                    display: inline-block;
                    width: 75px;
                    height: 75px;
                    overflow: hidden;
                    margin-left: 6px;
                    float: right;
                    opacity: 0.2;
                    img {
                        display: inline-block;
                        width: 75px;
                    }
                }
            }
        }


        /* highlight current page */
        a.current-menu-item,
        a.current_page_item,
        a.active,
        a.current_page_ancestor {
                color: $super-white;
                background-color: $dark-gray;

                i.thumb {
                    opacity: 1;
                }
        }  /* end current highlighters */
    }
    
    
    ul.profile-grid {
            display: block;
            margin-top: 20px;
            border: 0;
            border-top: 0;
            position: relative;
            height: auto;
            width: 100%;
            padding: 0 0;
            
        /*
            background-color: $black;
            border-left: solid 2px #e42525;
        */

            top: 0px;
            z-index: 5;
            float: left;

            li {
                position: relative;
                display: block;
                float: left;
                text-align: left;
                // border-bottom: solid 1px $dark-gray;
                height: 210px;
                margin: 0 0;
                padding: 0 0;

                a {
                    font-size: 12px;
                    color: $meta-gray;
                    text-decoration: none;
                    text-transform: uppercase;
                    height: inherit;
                    width: inherit;
                    line-height: 20px;

                    border: 0;
                    display: block;
                    width: auto;
                    /* white-space: nowrap; */
                    padding: 0 0;

                    &:hover,
                    &:focus {
                        color: $gray;
                    }

                    &:link {}

                    i.thumb {
                        position: relative;
                        display: block;
                        width: 120px;
                        height: 120px;
                        overflow: hidden;
                        margin: 0px auto;
                        opacity: 1;
                        background-color: $dark-gray;
                        // outline: dotted 1px #f00;
                        img {
                            display: inline-block;
                            width: 120px;
                        }
                    }
                    
                    span.label {
                        position: relative;
                        display: block;
                        width: 100%;
                        margin-top: 10px;
                        text-align: center;
                        word-break: normal; 
                    }
                }
            }
                
            li.search-result-summary {
                display: block;
                position: relative;
                text-align: center;
                color: $gray;
                background: none;
                border-radius: 15px;
                padding: 4px 0px;
                
                float: left;
                border: 0;
                height: 25px!important;
                max-height: 25px;
                margin: 0 0;
                margin-bottom: 50px;
            }


            /* highlight current page */
            a.current-menu-item,
            a.current_page_item,
            a.active,
            a.current_page_ancestor {
                    color: $super-white;
                    background-color: $dark-gray;

                    i.thumb {
                        opacity: 1;
                    }
            }  /* end current highlighters */
    }
    
    
    
    
    .trailer-index-wrap {
        display: block;
        position: relative;
        border: 0;
        border-top: 0;
        border-left: solid 2px #e42525;
        margin-top: -100px;
        width: 100%;
        overflow: hidden;
        height: 70vh;
        float: right;
        
    }
    
    ul.trailer-index {
                display: block;
                position: relative;
                margin-top: 0px;
                //margin-right: -15px;
                border: 0;
                position: relative;
                height: 100%;
                width: 102%;
                padding: 0 0;
                //padding-right: 5px;
                overflow-y: scroll;
                
                background-color: $black;
                
                top: 0px;
                text-align: center;
                z-index: 99;

                li {
                    position: relative;
                    display: inline-block;
                    float: none;
                    text-align: left;
                    border-bottom: solid 1px $dark-gray;
                    height: 75px;
                    width: auto;
                    margin: 0 0;
                    padding: 0 0;
                    
                    a {
                        font-size: 12px;
                        color: $meta-gray;
                        text-decoration: none;
                        text-transform: uppercase;
                        height: inherit;
                        line-height: 50px;
                        
                        border: 0;
                        display: block;
                        width: auto;
                        white-space: nowrap;
                        padding: 0 0 0 30px;

                        &:hover,
                        &:focus {
                            color: $gray;
                        }

                        &:link {}
                        
                        i.thumb {
                            position: relative;
                            display: inline-block;
                            width: 75px;
                            height: 75px;
                            overflow: hidden;
                            margin-left: 6px;
                            float: right;
                            opacity: 0.2;
                            img {
                                display: inline-block;
                                width: 75px;
                            }
                        }
                    }
                }
        

                /* highlight current page */
                a.current-menu-item,
                a.current_page_item,
                a.active,
                a.current_page_ancestor {
                        color: $super-white;
                        background-color: $dark-gray;
                        
                        i.thumb {
                            opacity: 1;
                        }
                }  /* end current highlighters */
    }
    
}



.content-body.landing {
    padding: 0 0;
    
    .inner-wrap {
        padding: 0 0;
        margin: 0 0;
    }
    
}




#panels {
    display: block;
    position: relative;
    margin: 0 0;
    padding: 15px 0;
    width: 100%;
    float: none!important;
    background-color: $black;
    min-height: 220px;
    &:after {
        position: relative;
        display: table;
        height: 0px;
        width: 100%;
        margin: 0 0;
        padding: 0 0;
        clear: both;
    }

    .panels-inner-wrap {
        display: block;
        position: relative;
        margin: 0 auto;
        float: none!important;
        height: auto;
        min-height: 150px;

        &:after {
            position: relative;
            display: table;
            height: 0px;
            width: 100%;
            margin: 0 0;
            padding: 0 0;
            clear: both;
        }

        .panel {
            min-height: 140px;
            text-align: center;
            color: $meta-gray;
            padding-top: 20px;
            font-size: 0.9em;

            > * {
                display: inline-block;
            }

            i {
                font-size: 2em;
            }

            a, 
            a:hover, 
            a:active, 
            a:visited {
                text-decoration: none;
                color: $meta-gray;
                text-transform: uppercase;
                font-weight: bold;
                
                small {
                    font-weight: normal;
                    text-transform: none;
                }
            }
        }
    }
    
    .panel-header {
        display: none;
        position: relative;
        width: 100%;
        margin-top: 15px;
        float: none!important;
        
        h3 {
            display: block;
            position: relative;
            text-align: center;
            margin: 0 auto;
        }
    }
    
    .panel-footer {
        display: block;
        position: relative;
        width: 100%;
        text-align: center;
        float: none!important;
        
        .copyright {
            display: block;
            position: relative;
            text-align: center;
            margin: 0 auto;
            margin-top: 15px;
            margin-bottm: 15px;
            font-size: 0.8em;
        float: none!important;
            color: $meta-gray;
        }
        
    }
}



/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	// color: $link-color;

	/* on hover */
	&:hover, &:focus {
		// color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

.header {
    display: block;
    position: fixed;
    height: 50px;
    width: 100%;
	background-color: $dark-gray;
    border-bottom: #000;
    z-index: 8999;
    
    .logo-wrap {
        display: block;
        position: relative;
        width: 120px;
        height: 40px;
        margin-left: 10px;
    }
    
    h1 {
        margin-top: 0;
    }
}

	#logo {
		margin: 0.75em 0;

		a {
			color: $white;
		}
	}

/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/
.nav {
    display: block;
    position: absolute;
    height: inherit;
    top: 0px;
    right: 50px;
    @include transition(all 0.6s);
    
    
    ul {
        position: relative;
        display: block;
        height: inherit;
        width: auto;
        border-bottom: 0;
        margin: 0;
        text-align: right;
        white-space: nowrap;


        li {
            float: none;
            display: inline-block;
            vertical-align: top;
            text-align: center;
            border-left: solid 1px $black;
            height: inherit;
            margin: 0 0;
            
            a {
                display: block;
                color: $meta-gray;
                text-decoration: none;
                padding: 0 1.5em;
                text-transform: uppercase;
                font-size: 0.8em;
                height: inherit;
                line-height: 50px;
                white-space: nowrap;

                /*
                remember this is for mobile ONLY, so there's no need
                to even declare hover styles here, you can do it in
                the style.scss file where it's relevant. We want to
                keep this file as small as possible!
                */
                &:hover, &:focus {
                    text-decoration: none;
                }
                
                i {
                    margin-right: 6px;
                }
            }

            &:first-child {
                border-left: none;
            }

            &:last-child {}


            /*
            plan your menus and drop-downs wisely.
            */
            ul.sub-menu,
            ul.children {
                display: none;
                margin-top: 0;
                list-style: none;
                border: 0;
                border-top: 0;
                position: absolute;
                height: auto;
                width: auto;
                padding: 20px 0;
                
                background-color: $black;
                
                top: 50px;
                z-index: 8999;

                li {
                    position: relative;
                    display: block;
                    list-style: none;
                    float: none;
                    text-align: left;
                    border-bottom: solid 1px $dark-gray;
                    height: auto;
                    width: auto;
                    margin: 0 10px;
                    padding: 0.1em 0;
                    
                    a {
                        border: 0;
                        display: block;
                        width: auto;
                        white-space: nowrap;
                        padding: 0 15px;

                        &:hover,
                        &:focus {
                            color: $gray;
                        }

                        &:link {}
                        
                        i.thumb {
                            position: relative;
                            display: inline-block;
                            width: 35px;
                            height: 35px;
                            border-radius: 50%;
                            overflow: hidden;
                            top: 13px;
                            border: solid 1px #0aa;
                            img {
                                display: inline-block;
                                width: 35px;
                            }
                        }
                    }

                    &:first-child {}

                    &:last-child {
                        border-bottom: 0;

                        a {}
                    }

                    /*
                    if you need to go deeper, go nuts
                    just remember deeper menus suck
                    for usability. k, bai.
                    */
                    ul {
                        top:0;
                        left:100%;
                    }
                }

                /* highlight sub-menu current page */
                li.current-menu-item,
                li.current_page_item,
                li.current_page_ancestor {
                    a {}
                }
            }
                
            ul.active {
                display: block;
            }

            /* showing sub-menus 
            &:hover > ul {
                top: auto;
                visibility:visible;
            }
            */

            /* highlight current page */
            a.current-menu-item,
            a.current_page_item,
            a.active,
            a.current_page_ancestor {
                    color: $super-white;
            }  /* end current highlighters */
        } /* end .nav ul li */

        
        li.season-menu-btn {
            position: relative;
            background-color: $wine;
            
            button {
                position: relative;
                display: block;
                background: none;
                border: none;
                outline: none;
                margin: 0 0;
                color: $super-white;
                text-decoration: none;
                padding: 0 1.5em;
                text-transform: uppercase;
                font-size: 0.8em;
                height: inherit;
                line-height: 50px;
                white-space: nowrap;
                
                .collapse {
                    display: none;
                }
            }
            a {
                color: $super-white;
            }
       
            
        }
        li.season-menu-btn.active {
            background-color: $white;
            
            button {
                color: #000;
            }
        }
        
        li.collapse {
            display: none;
        }
        
    } /* end .nav ul */
} /* end .nav */

.nav.collapse {
    display: none;
}



/* --------------- Season Menu ------------------------- */

.txt-color-s1 { color: #D99C49!important; }
.txt-color-s2 { color: #B4403E!important; }
.txt-color-s3 { color: #9877A9!important; }
.txt-color-s4 { color: #3BBEDF!important; }
.txt-color-s5 { color: #71A15C!important; }
.txt-color-s6 { color: aqua!important; }
.txt-color-s7 { color: aqua!important; }
.txt-color-s8 { color: aqua!important; }
.txt-color-s9 { color: aqua!important; }
.txt-color-s10 { color: aqua!important; }

.bg-color-s1 { background-color: #8E693D!important; }
.bg-color-s2 { background-color: #864140!important; }
.bg-color-s3 { background-color: #72597F!important; }
.bg-color-s4 { background-color: #40798F!important; }
.bg-color-s5 { background-color: #586550!important; }
.bg-color-s6 { background-color: aqua!important; }
.bg-color-s7 { background-color: aqua!important; }
.bg-color-s8 { background-color: aqua!important; }
.bg-color-s9 { background-color: aqua!important; }
.bg-color-s10 { background-color: aqua!important; }

.season-menu {
    display: none;
    margin-top: 0;
    border: 0;
    border-top: 0;
    position: absolute;
    min-height: 100px;
    height: 500px;
    width: 100vw;
    padding: 0 0;

    background-color: $white;

    top: 50px;
    z-index: 8999;
    overflow-x: hidden;
    
    > .header {
        position: relative;
        display: block;
        width: 100%;
        height: 60px;
        background: none;
        
        .title {
            position: relative;
            display: block;
            margin: 20px 0 0 20px;
            color: $ink;
            font-size: 1.5em;
        }
    }
    
    > .content {
        position: relative;
        display: block;
        width: 100%;
        height: 380px;
        overflow-x: auto;

        // Season <UL>
        ul {
            display: block;
            margin: 0;
            margin-right: 20px;
            border: 0;
            position: relative;
            float: left;
            list-style: none;
            white-space: nowrap;
            height: 350px;
            width: auto;
            padding: 0 0;


            // Season Item <LI>
            li {
                position: relative;
                display: inline-block;
                vertical-align: top;
                list-style: none;
                text-align: left;
                height: inherit;
                width: auto;
                margin: 0 10px;
                padding: 0 0;

                // Episode List <UL>
                ul {

                    // Episode List Item <LI>
                    li {
                        width: 270px;
                        height: 350px;
                        margin: 0 1px;
                        background-color: $super-white;
                        overflow-y: hidden;

                        a {
                            display: block;
                            white-space: nowrap;
                            padding: 0 0;
                            margin: 0 0;
                            border: 0;
                            text-decoration: none;

                            &:hover,
                            &:focus {
                                color: $gray;
                            }

                            &:link {}
                        }

                        .header {
                            position: relative;
                            display: block;
                            background-color: $wine;
                            padding: 10px 10px;
                            margin: 0 0;
                            width: 100%;
                            height: auto;

                            .meta {
                                position: relative;
                                display: block;
                                text-transform: uppercase;
                                color: $super-white;
                                font-size: 12px;
                            }

                            .title {
                                position: relative;
                                display: block;
                                color: $super-white;
                                margin-top: 3px;
                                margin-bottom: 0px;
                                text-transform: uppercase;
                            }
                        }

                        .thumb {
                            position: relative;
                            display: block;
                            background-color: $black;
                            width: 100%;
                            height: 150px;
                            overflow: hidden;
                            img {
                                border: 0;
                                display: inline-block;
                                width: 100%;
                            }
                        }

                        .excerpt {
                            position: relative;
                            display: block;
                            height: 65px;
                            width: 100%;
                            padding: 0 10px;
                            font-size: 12px;
                            color: $dark-gray;
                            background-color: $super-white;

                            p {
                                position: relative;
                                display: block;
                                margin: 0 0;
                                padding: 12px 0;
                                white-space:normal;
                                word-break: break-all;
                                overflow-wrap: break-word;
                            }
                        }

                        .dash {
                            position: relative;
                            display: block;
                            width: 100%;
                            padding: 5px 0;
                            background-color: $super-white;

                            button {
                                position: relative;
                                /*
                                bottom: 3px;
                                left: 5px;
                                */
                                display: block;
                                background-color: $gray;
                                color: $super-white;
                                margin: 0 auto;
                                margin-bottom: 15px;
                                width: 95%;
                                height: 50px;
                                text-align: center;
                                text-transform: uppercase;
                                border: 0;
                            }

                            button.current {
                                background-color: $super-white;
                                margin-bottom: 0px;
                            }
                        }

                        &:last-child {
                            border-bottom: 0;

                            a {}
                        }


                        /*
                        if you need to go deeper, go nuts
                        just remember deeper menus suck
                        for usability. k, bai.
                        */
                        ul {
                            top:0;
                            left:100%;
                        }
                    }

                    /* highlight sub-menu current page */
                    li.current-menu-item,
                    li.current_page_item,
                    li.current_page_ancestor {
                        a {}
                    }

                    li.title-card {
                        width: 100px;
                        text-align: left;
                        margin-right: 4px;

                        .header {
                            height: 100%;
                        }
                    }

                }

            }
        }
    }
}
        

.season-menu.active {
    display: block;
}






.side-nav-container {
    display: block;
    position: fixed;
    width: 297px;
    min-height: inherit;
    height: 100vh;
    top: 0px;
    right: -17px;
    z-index: 200;
    transition: transform 0.3s;
    transform: translateX(280px);
    background: $black;
    box-shadow: 0px 2px 10px $ink;
    overflow: hidden;
    
    

    .side-nav {
        position: relative;
        display: block;
        font-family: 'Gotham Narrow A','Gotham Narrow B','Arial Narrow';
        font-style: normal;
        font-weight: 400;
        font-size: 0.9em;
        color: #fff;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        padding-right: 17px;
        
        
            
        h3.nav-header {
            font-size: 1.6em;
            padding: 10px 10px;
            margin: 0;
            border-bottom: 0;
            color: $gray;
        }
        
        ul {
            position: relative;
            display: block;
            border-bottom: 0;
            margin: 0;


            li {
                position: relative;
                display: block;
                border-bottom: solid 1px $dark-gray;
                margin: 0 15px;
                a {
                    display: block;
                    color: $meta-gray;
                    text-decoration: none;
                    padding: 0.75em;
                    
                    i {
                        font-size: 1.1em;
                        margin-right: 10px;
                    }

                    /*
                    remember this is for mobile ONLY, so there's no need
                    to even declare hover styles here, you can do it in
                    the style.scss file where it's relevant. We want to
                    keep this file as small as possible!
                    */
                    &:hover, &:focus {

                    }
                }

                &:first-child {}

                &:last-child {}

                /*
                so you really have to rethink your dropdowns for mobile.
                you don't want to have it expand too much because the
                screen is so small. How you manage your menu should
                depend on the project. Here's some great info on it:
                http://www.alistapart.com/articles/organizing-mobile/
                */
                ul.sub-menu,
                ul.children {
                    display: none;
                    margin: 15px 0;

                    li {
                        border-bottom: dotted 1px $dark-gray;
                        margin: 0 10px;

                        a {
                            padding-left: 10px;
                            color: #888;

                            &:hover,
                            &:focus {}

                            &:link {}
                                                    
                            i.thumb {
                                position: relative;
                                display: none; //inline-block;
                                width: 35px;
                                height: 35px;
                                border-radius: 50%;
                                overflow: hidden;
                                top: 13px;
                                border: solid 1px #0aa;
                                img {
                                    display: inline-block;
                                    width: 35px;
                                }
                            }

                        }

                        &:first-child {}

                        &:last-child {
                            border-bottom: none;
                        }

                    }

                }
                
                ul.active {
                    display: block;
                }
                
                /* highlight current page */
                a.current-menu-item,
                a.current_page_item,
                a.active,
                a.current_page_ancestor {
                    color: $white;

                }  /* end current highlighters */

            } /* end .menu li */
        
            li.season-menu-btn {
                display: none;
            }

        }
        
    }
}

.side-nav-container.is-active {
  transform: translateX(0);
}

.site-container.side-nav-active {
  transform: translateX(-280px);
    
   .content-body {
        transform: translateX(20px);
    }
}

button.c-menu__open {
    @include transition(all 0.6s);
    
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: $black;
    box-shadow: 0px 2px 10px $ink;
    border: none;
    color: $white;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

button.c-menu__open.active {
    // background-color: $dark-gray;
}




/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background-color: #000;
	color: $light-gray;
}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright {}
